{{ define "main" }}
<div class="container">

  <h1 class="article-title">{{ .Title }}</h1>

  <div class="meta">
    {{ .Date.Format "1 Jan '06" }} &bull; 
    Filed under <a href="/{{ .Section }}">{{ .Section }}</a> &bull; Tagged:
    {{ range $i, $e := .Params.tags -}}
      {{- if $i -}}, {{ end -}}
      <a href='{{ "/tag/" | relLangURL }}{{ . | urlize }}'>{{ $e | humanize }}</a>
    {{- end -}} 
  </div>

  <article>
    {{ .Content }}
  </article>
  
  <aside id="related-pages">
    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
    <h2>What to read next</h2>
    <ul>
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </aside>
</div>
{{ end }}